/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'levaus';
    src: url('/assets/Levaus.ttf');
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
  }

.topleft {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgb(255, 255, 255);
}

.topleft img{
    border-radius: 50%;
}

.title{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'levaus';
    font-size: 100px;
    color: rgb(255, 255, 255);
    letter-spacing: 15px;
}

.title h2{
    position: absolute;
    white-space: nowrap;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'levaus';
    font-size: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 20px;
}

.middle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255)
}

.pic {
    position: absolute;
    margin: auto;
    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255)
}

img {
    max-width: 100%;
    width: auto\9; /* ie8 */
}
